<!doctype html>
<!--[if lt IE 9]><html class="no-js oldie" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
	<head>
		<meta charset="{{ site.charset }}" />
		<title>
			{% if wp_title %}
				{{ wp_title }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="author" href="{{ site.theme.link }}/humans.txt" />
		<link rel="pingback" href="{{ site.pingback_url }}" />
		<script type="text/javascript">
			// Set the js class (remove if using Modernizr)
			document.documentElement.className =
			document.documentElement.className.replace("no-js", "js");
		</script>
		{{function('wp_head')}}
		{% block head %}{% endblock %}
	</head>
	<body class="{{body_class}}">
		<a href="#content" class="skip-to-content">Skip to main content</a>
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<h1 class="logo" role="banner">
						<a class="logo__link" href="{{site.url}}" rel="home">{{site.name}}</a>

					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav>
					{% if not is_front_page %}
						{% set breadcrumbs = post|get_breadcrumbs %}
						<ul class="header__breadcrumbs">
							<li><a href="/">Home</a></li>
							{% for crumb in breadcrumbs %}
								{% if crumb.href %}
									<li><a href="{{ crumb.href }}">
										{{ crumb.text }}
									</a></li>
								{% else %}
									<li aria-current="page">{{ crumb.text }}</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
